@import 'mixins.styl';

body {
  color: $red;
}

/*
 * Typography
 */
h1 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 9px;
  font-weight: 200;
  color: green;
  // border-bottom: 1px solid #eee;
}
