$left-indent = 300px;
$alert-box-width = 360px;
// $danger = rgb(214, 15, 85)
$sidebar-narrow-width = 60px;
$sidebar-wide-width = 220px;
$viewport-xs = 500px; // need to verify this number
$viewport-sm = 576px;
$viewport-md = 768px;
$viewport-lg = 992px;
$viewport-xl = 1140px;
$red = red;
